.header-container {
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header-container nav {
    width: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
.nav-links {
    text-decoration: none;
    box-decoration-break: none;
    color: black;
    font-size: 18px;
    padding: 80px 0 20px 30px;
}
img {
    height: 38%;
    width: 38%;
    padding: 40px 0 0 30px;
    display: flex;
}