.container-box {
    width: 90vw;
    padding: .2rem 0;
    background-color: #FFF3FA;
    border-radius: 0.5rem;
    margin: 1rem 2.5rem;
    align-items: center;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-column-gap: 1.5rem;
}
.container-box img {
    width: 90%;
    display: block;
}
.img-container {
    position: relative;
}
.add-button {
    /* display: block; */
    align-items: center;
    margin: .3rem;
}
.furniture-info {
    padding: 1rem 0.5rem;
}
 h4 {
     text-transform: capitalize;
     color: black;
     margin: .5rem 2rem;
     align-items: center;
     text-align: center;
 }
 h5 {
     text-transform: capitalize;
     color: black;
     margin: .2rem 2rem; 
     align-items: center;
     text-align: center;
 }
 @media (max-width: 768px){
     .container-box {
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
 }
 @media(max-width: 570px) {
    .container-box {
        width: 50vw;
        grid-template-columns: 1fr;
     }
 }