.container-box {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box; 
    justify-content: space-evenly; 
    flex-direction: column;
    text-transform: capitalize;
    text-align: center;
    text-indent: 0;
}
.container-box .photo {
    height: 35%;
    width: 35%;
    padding: 50px 0 0 30px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 0 0 5px 0;
}
.container-box h4 {
    margin: 1rem 0 .2rem 0;
    text-align: center;
}
.container-box h5 {
    margin: 1rem;
    text-align: center;
}
.container-box .button {
    width: 65px;
    align-items: center;
    justify-content: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
    text-align: center;
}
