.App {
  text-align: center;
  background-color: #FFF3FA;
  font-size: 18px;
}

.footer-container {
  height: 100px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 30px 50px 10px;
    font-size: 18px;
}
/* .social {
  width: 200px;
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding: 50px;
  font-size: 18px;
}  */
.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.nav-links:active {
  color: white;
}

button:hover {
  background-color: #FFF3FA;
}
button {
  width: 95px;
  font-size: 18px;
  background-color: white;
  border-radius: .5rem;
  border: .05rem solid lightgray;
  padding: .1rem;
}

@media(max-width: 768px) {
  .nav-links {
    font-size: 12px;
  }
  
  button {
    width: 60px;
    font-size: 12px;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
  color: darkgray; 
  opacity: 1; /* Firefox */ 
  } 
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: darkgray; 
  } 
  
  ::-ms-input-placeholder { /* Microsoft Edge */ 
  color: darkgray; 
  }