.display {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    box-sizing: content-box;
    height: 55%;
    width: 50%;
    margin: 0px 50px 80px 50px;
    align-items: center;
    text-decoration: none;
}

.contact {
    font-size: 30px;
    align-items: center;
    margin: 30px;
    color: rgb(1, 1, 56);
    text-decoration: underline  rgb(1, 1, 56);
}
.contact:active {
    color:rgb(1, 1, 56);
    text-decoration: none;
}
@media(max-width: 768px){
    .display {
        margin: 0 0 0 20px;
        align-items: center;
        height: 14rem;
        width: 14rem;
    }
}
@media(max-width: 570px){
    .display {
        height: 10rem;
        width: 10rem;
        margin: 0;
    }
}