.display {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    box-sizing: content-box;
    height: 55%;
    width: 55%;
    margin: 50px 50px 175px 50px;
    align-items: center;
}