.display {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    box-sizing: content-box;
    height: 55%;
    width: 50%;
    margin: 0px 50px 160px 50px;
    align-items: center;
}