/* .container-box2 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 50px 0 700px 0;

} */
input {
    height: 24px;
    border: none;
    color: darkgray;
    margin: 15px;
    font-size: 18px;
}
.bottom-margin {
    margin: 50px 0 200px 0;
}
.logout {
    margin: 0;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
    color: darkgray; 
    opacity: 1; /* Firefox */ 
    } 
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: darkgray; 
    } 
    
    ::-ms-input-placeholder { /* Microsoft Edge */ 
    color: darkgray; 
    }